.DS_Store
Terraform/.terraform
Terraform/.terraform.lock.hcl
Terraform/.terraform
Terraform/simpleCloudStorageS3/.terraform.lock.hcl
Terraform/simpleCloudStorageS3/.terraform
Terraform/simpleCloudStorageS3/terraform.tfstate
Terraform/simpleCloudStorageS3/terraform.tfstate.backup
